body {
    font-family: 'Segoe UI', sans-serif;
}

.team-filter {
    width: 350px;
}

#errorMessageBar {
    margin-bottom: 10px;
}

/* Wizard Steps */

.settingsContainer {
    width: 100%;
    font-style: inherit;
    padding: 3px;
    border-width: 1px;
    border-color: black;
    border-style: inset;
}

.settingsInput {
    background-color: lightgrey;
    width: 0%;
    border-width: 1px;
    border-color: black;
    border-style: inset;
    vertical-align: top;
}

.settingsInputSelected {
    background-color: lightblue !important;
}

.settingsDescription {
    border-width: 1px;
    border-color: black;
    border-style: inset;
}

.noBullets {
    list-style-type: none;
}

/* Navigation */
.ms-Pivot{
    height: 83vh;
    overflow-y: auto;
}
.wizardNavigation {
    position: absolute;
    right: 0px;
}

/* Team Selector */
.teamSelectorContainer {
    position: absolute;
    top: 44px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    overflow: auto;
}

#backlogTitle {
    color: #0078d7;
    font-size: 21px;
    font-weight: 100;
}

#itemMappings {
    overflow-y: auto;
}

.mappingRow {
    width: 100%;
    margin-top: 10px;
}

.mapping-header {
    font-weight: bold;
    font-size: 14px;
}

.mapping-origin {
    width: 200px;
    font-size: 14px;
    display: block;
    float: left;
    margin-right: 10px;
}

.mapping-choice {
    width: 200px;
    display: inline-block;
    box-sizing: border-box;
}

.mapping-label {
    margin-top: 5px;
    padding: 0px 0px 16px 0px;
}

.ms-ChoiceFieldGroup{
    height: 83vh;
}

/* dropdown */

.mapping-dropDown {
    width: 100%;
    font-family: 'Segoe UI WestEuropean', 'Segoe UI', -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-shadow: none;
    color: #333333;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 10px;
    position: relative;
    outline: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    background: #ffffff;
    border: 1px solid #c8c8c8;
    cursor: pointer;
    display: block;
    height: 32px;
    padding: 5px 32px 0 10px;
    position: relative;
    overflow: hidden;
}

    .mapping-dropDown:focus {
        border-color: #0078d7;
    }

.mapping-dropDown-caretDown {
    color: #212121;
    font-size: 12px;
    position: absolute;
    right: 13px;
    bottom: 13px;
    z-index: 1;
    pointer-events: none;
}

.mapping-dropDown option {
    box-shadow: none;
    overflow-y: auto;
    padding-top: 4px;
    max-height: 100%;
    padding: 7px 16px;
    overflow: hidden;
    text-overflow: ellipsis;
}
