body {
    font-family: 'Segoe UI', sans-serif;
}

.ms-SearchBox {
    width: 100%;
}

.ms-SearchBox-field {
    width: 100%;
}

#errorMessageBar {
    margin-bottom: 10px;
}

/* Wizard Steps */

.settingsContainer {
    width: 100%;
    font-style: inherit;
    padding: 3px;
    border-width: 1px;
    border-color: black;
    border-style: inset;
}

.settingsInput {
    background-color: lightgrey;
    width: 0%;
    border-width: 1px;
    border-color: black;
    border-style: inset;
    vertical-align: top;
}

.settingsInputSelected {
    background-color: lightblue !important;
}

.settingsDescription {
    border-width: 1px;
    border-color: black;
    border-style: inset;
}

.noBullets {
    list-style-type: none;
}

/* Navigation */
.wizardNavigation {
    position: absolute;
    right: 0px;
    bottom: 10px;
}

/* Team Selector */
.teamSelectorContainer {
    position: absolute;
    top: 44px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    overflow: auto;
}

#backlogTitle {
    color: #0078d7;
    font-size: 21px;
    font-weight: 100;
}

#itemMappings {
    overflow-y: auto;
}

.mappingRow {
    width: 100%;
    margin-top: 10px;
}

.mapping-header {
    font-weight: bold;
    font-size: 14px;
}

.mapping-origin {
    width: 200px;
    font-size: 14px;
    display: block;
    float: left;
    margin-right: 10px;
}

.mapping-choice {
    width: 200px;
    display: inline-block;
    box-sizing: border-box;
}
