.lastItem {
    padding-bottom: 66px;
}

.listItem{
    padding-bottom: 20px;
}
.pivotContent {
    margin-top: 15px;
}

.formContent {
    margin-bottom: 20px;
    width: 98%;
    padding-left: 8px;
}